@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  background: #ffffff;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 8%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #222;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-flex;
  font-size: 18px;
  color: #222;
  text-decoration: none;
  font-weight: 500;
  margin: 0 20px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
  color: #780000;
}

.wrapper {
  width: 500px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
  animation: slideTop .5s ease forwards;
}

.wrapper h1 {
  font-size: 2rem;
  text-align: center;
  color: #780000;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 40px 0;
  color: #780000;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #222;
  border-radius: 40px;
  font-size: 1rem;
  color: black;
  padding: 20px 45px 20px 20px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-box input:focus {
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.input-box input::placeholder {
  color: #222;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .show-password {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: -15px 0 15px;
}

.show-password label input {
  accent-color: #cb050a;
  margin-right: 5px;
  cursor: pointer;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  font-size: 14.5px;
  font-weight: 600;
  color: #333;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 10px;
}

.wrapper .btn:hover {
  background-color: #780000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

/*Transiciones*/

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideSci {
  0% {
    transform: translateX(100px) rotate(45deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0) rotate(45deg);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 90%;
    padding: 20px 30px;
  }

  .wrapper h1 {
    font-size: 28px;
  }

  .wrapper .btn {
    height: 50px;
  }
}
